
@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.App-logo2 {
  animation:
    translate-x 3000ms infinite alternate ease,
    scale 1000ms infinite alternate ease-in-out,
    translate-x 3000ms infinite alternate ease-in-out,
    translate-y 3000ms infinite alternate ease-in-out,
    rotate 3000ms infinite linear;

  width: 40vmin;
  height: 40vmin;
  border-radius: 10%;
  margin: auto;
  display: block;
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
@keyframes translate-x {
  0% {
    transform: translate(0vmin, 25vmin);
  }
  50% {
    transform: translate(25vmin, 25vmin);
  }
  100% {
    transform: translate(-25vmin, -25vmin);
  }
}


*{
  font-family: 'Dovemayo_gothic';
}

ul.menu{
  list-style: none;
}

body{
  padding-left: 50px;
  padding-top: 30px;
}


ul.menu li{
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 10px;
}

ul.menu li a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul.menu li:hover{
  background-color: darkcyan;
  box-shadow: 5px 5px 5px gray;

}

ul.menu li a:hover{
  color: aliceblue;
}

div.login{
  margin:100px 100px;
  border: 5px solid gray;
  width:320px;
  border-radius: 10px;
}
